@model WebRanker.WebMVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>Manage your account</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <dl class="dl-horizontal">
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Click here to change your password", "ChangePassword")
        }

        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
    </dl>
</div>
