/WebRanker/.vs/
/WebRanker/WebRanker.WebMVC/App_Data/WebRanker_log.ldf
/WebRanker/WebRanker.WebMVC/App_Data/WebRanker.mdf
/WebRanker/packages/
/WebRanker/WebRanker.Models/bin/Debug/
/WebRanker/WebRanker.WebMVC/bin/
/WebRanker/WebRanker.WebMVC/obj/Debug/
/WebRanker/WebRanker.Data/bin/Debug
/WebRanker/WebRanker.Contracts/obj/Debug
/WebRanker/WebRanker.Services/obj/Debug/
/WebRanker/WebRanker.Models/obj/Debug/
/WebRanker/WebRanker.Services/bin/Debug/
/WebRanker/WebRanker.Data/bin/
/WebRanker/WebRanker.Contracts/bin/
/WebRanker/WebRanker.Contracts/obj/
/WebRanker/WebRanker.Models/bin/
/WebRanker/WebRanker.Services/bin/
/WebRanker/WebRanker.Services/obj/
/WebRanker/WebRanker.Models/obj/
/WebRanker/WebRanker.Tests/
/WebRanker/WebRanker.WebMVC/obj/
