@using WebRanker.Data
@using WebRanker.Services

@model WebRanker.Data.Matchup
@{ViewBag.Title = "Rank";}

<h2>Rank your list!</h2>
<h2 style="font-size: small">Choose your favorite of these two</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="width: 25%">
        <input type="radio" id="itemradio" name="choice1" value=@Model.FirstItem.ItemID>
        <label for="contactChoice3">@Model.FirstItem.ItemName</label>
        <hr />

        <input type="radio" id="itemradio" name="choice2" value=@Model.SecondItem.ItemID>
        <label for="contactChoice3">@Model.SecondItem.ItemName</label>
        <hr />

        @Html.ActionLink("Cancel", "Index", "Collection", null, new { @class = "btn btn-danger btn-large" })
    </div>
}
